alembic==0.8.9
appdirs==1.4.3
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.3
bleach==2.0.0
bokeh==0.12.4
cloudpickle==0.2.2
colorama==0.3.9
colorlover==0.2.1
conda==4.3.13
cycler==0.10.0
Cython==0.25.2
dask==0.13.0
decorator==4.0.11
dill==0.2.5
entrypoints==0.2.2
fastcache==1.0.2
findspark==1.1.0
future==0.16.0
gmpy2==2.0.7
h2o==3.10.4.6
h5py==2.6.0
html5lib==0.999999999
ipykernel==4.6.0
ipython==5.3.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
jedi==0.9.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
jupyterhub==0.7.2
llvmlite==0.8.0
Mako==1.0.6
MarkupSafe==1.0
matplotlib==1.5.3
metakernel==0.17.4
mistune==0.7.4
mpmath==0.19
nbconvert==5.1.1
nbformat==4.3.0
networkx==1.11
notebook==5.0.0
numba==0.23.1
numexpr==2.6.1
numpy==1.12.1
olefile==0.44
packaging==16.8
pamela==0.3.0
pandas==0.19.2
pandocfilters==1.4.1
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==8.2.0
plotly==1.13.0
prompt-toolkit==1.0.14
ptyprocess==0.5.1
pycosat==0.6.1
pycrypto==2.6.1
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
python-editor==1.0.3
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
requests==2.13.0
ruamel.yaml==0.13.7
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
seaborn==0.7.1
simplegeneric==0.8.1
six==1.10.0
spylon==0.2.9
spylon-kernel==0.1.2
SQLAlchemy==1.1.4
statsmodels==0.6.1
sympy==1.0
tabulate==0.7.7
terminado==0.6
testpath==0.3
toolz==0.8.2
toree
tornado==4.4.3
tqdm==4.11.2
traitlets==4.3.2
vincent==0.4.4
wcwidth==0.1.7
webencodings==0.5
widgetsnbextension==2.0.0
xlrd==1.0.0
